##############################
## IntelliJ
##############################
*.class
*.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/workspace.xml
out/
AutomataFinitoDeterministico/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws
*.class
