##############################
## IntelliJ
##############################
out/
.idea/
*.class
AutomataFinitoDeterministico
*.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/vcs.xml
.idea/workspace.xml
*.xml
